.main-page-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .search-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }
  
  .create-goal-button {
    margin: 0 0 1rem;
  }
  