.task-modal-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-modal-item-name {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .task-modal-buttons {
    display: flex;
    align-items: center;
  }
  
  .task-modal-button {
    margin-left: 0.5rem;
  }
  
  .task-modal-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .task-modal-item-title {
    /* margin-bottom: 0.75rem; */
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
  }
  
  .title-container {
    display: flex;
    align-items: center;
  }
  